html {
  scroll-behavior: smooth;
}

body{
    background-color: rgb(10,25,47)!important;
    z-index: 9;
    /* padding-top: 100px; */
    
}
.navbar {
  position: fixed!important;
  width: 100%;
    display: flex;
    justify-content: space-between!important;
    flex-direction: row;
    padding: 0px 50px !important; /* Increased padding */
    height: 100px;
    z-index: 10;
    transition: top 0.3s ease; /* Add smooth transition */
  }
 .navbar-brand
 {
    color: #64ffda!important;
    z-index: 12;
 }
  .navbar-nav .resume {
    width: 80px;
    border: 1px #64ffda solid;
    border-radius: 4px;
    position: relative;
    transform: translateY(2px) translateX(2px); /* Move the element down and to the left initially */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Apply transition effect for opacity and transform */
  
    
    text-align: center;
    
    
  }
  
  .navbar-nav .resume:hover {
    top: -3px; /* Move up */
  left: -3px; /* Move right */
  box-shadow: 3px 3px  #64ffda;
  transform: translateY(0) translateX(0); /* Move the element back to its original position */
   
  }
  
  
  .navbar-nav .number {
    color: #64ffda; /* Green color for numbers */
    margin-right: 5px; /* Add some space between number and text */
  }
 
  .navbar.navbar-light.bg-transparent {
    background-color: rgba(10, 25, 47, 0.5) !important;
    backdrop-filter: blur(10px) !important;
  }
  
  .navbar ,
  .navbar .navbar-nav .nav-link {
    color: rgb(184,194,226) !important;
  }
  
 .navbar-nav{
    font-size: .9rem!important;
    padding: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
 }
 .navbar-nav .number {
    padding: 0px; /* Add margin between number and text */
}
 .nav-item
 {
    padding: 10px;
    
 }
 

.custom-toggler
{
  background-color: #64ffda!important;
  z-index: 12;;
  position: relative;
  color: #ffffff!important;
 
    border: none; /* Remove the border */
    outline: none!important; /* Remove outline on click */
  
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-left: auto; /* Apply ml-auto at larger screen sizes */
  }
  .side-email::after
  {
    content: "";
  }
  .para
{
  margin: 100px;
}


.side-social
{
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  
}

.social-list
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social-icons
{
  stroke: #a8b2d1;
  width: 20px;
    height: 20px;

}
.social-item
{
  padding: 11.55px;
}
.side-social::after {
  color: white;
  content: "";
  display: block;
  width: 1px;
  height: 90px; /* Adjust the height of the line as needed */
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(168,178,209); /* Adjust the color of the line as needed */
   /* Adjust the position to center the line */
   animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
  from {
    margin-top: 100px; /* Start below the original position */
  }
  to {
    margin-top: 20px; /* End at the desired margin-top value */
  }
}

.designed
{
  display: none;
}
.sentence
{
 
  max-width: 540px;

}
  
}

@media (max-width: 991px) {
  .navbar-collapse.custom-collapse {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw; /* Adjust the width as needed */
    max-width: 400px; /* Maximum width on larger screens */
    height: 100vh; /* Cover the entire viewport */
    background-color:rgb(17,34,64); 
    z-index: 11; /* Ensure it's above other content */
    transition: transform 0.1s ease-out; /* Smooth sliding animation */
    transform: translateX(100%); /* Initially off-screen to the right */
    align-items: center;
  }

  .navbar-collapse.custom-collapse.show {
    transform: translateX(0); /* Slide in from the right */
  }

  
  .navbar-nav .number {
    margin-bottom: 0px; /* Add margin between number and text */
}

.navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left: 1px!important;
}


.navbar-nav .nav-link span {
    margin-bottom: 1px; /* Add margin between text and number */
}

.mail
{
  display: none;
}
.side-email::after
{
  display: none;
}
.side-social {
  /* margin-top: auto; */
  padding: 10px;
  height: 100px;
 
  padding-top:20px;
  
}


.social-list {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  max-width:  270px;
  width: 100%;
  padding: 0px;

}
.social-item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.first{
  margin-top: 20vh;
}
.name
{
  padding-right: 5vw;
}
.sentence
{
 
  width: 100vw;

}

.about p {
 
  /* max-width: 360px; */
  width: 90vw;
  padding-right: 20px;
  line-height: 1.6;
  color: #6c757d;
  text-align: justify;
}
.inner
{
  padding-right: 20px;
}
.image {
  width: 100vw;
  justify-content: center; /* Align horizontally center */
}

.col-lg-4 {
  display: flex;
  justify-content: center; /* Align column center */
}
}
@media (max-width: 425px) {
  .side-social {
  
 
    padding-top:50px;
    
  }
}
@media (max-width: 375px) {
  .side-social {
  
 
    padding-top:100px;
    
  }
}
@media (max-width: 320px) {
  .about p
{
  padding-right:2vw;
}
.image
{
  padding-left: 50px;


}
.side-social {
  
 
  padding-top:200px;
  
}


}
.blur-effect {
  filter: blur(5px);
  z-index: 10;
}
.navbar,
.navbar-collapse.custom-collapse {
    filter: none; /* Remove blur effect */
}

/* .hide-navbar {
  top: -100px;
  transition: top 0.3s;
} */

/* Initially hide the navbar */
/* Initially hide the navbar above the viewport */
/*  */

.side-email
{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: white;
    display: flex;
  flex-direction: column;
  align-items: center;
}
.mail
{
  
    color: #a8b2d1;
    margin: 20px auto;
    padding: 10px;
    padding-left: 12px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    /* -webkit-writing-mode: vertical-rl; */
    writing-mode: vertical-rl;
  /* position: relative; */

}
.side-email::after
{
  
 
  display: block;

  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}
.designed
{
  color: #a8b2d1;
  font-size: 12px;
  line-height: 1;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
}
.first
{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px 11.5vw;
  

}
.my-name
{
  margin: 0px 0px 0px 4px;
  color: #64ffda;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace; 
  
  

}
.my-name h1
{
  font-size: 17.5px;
  font-weight: 400px;
}
.name h2
{
  margin: 0px 0px 10px;
    font-weight: bold ;
    color: #ccd5f6;
    line-height: 1.1;
    margin: 0px;
    font-size: 67px;
    padding-bottom: 10px;
}

.heading h3
{
  margin-top: 5px;
    color: #8892B0;
    line-height: 0.9;
    font-size: 67px;
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;;
    font-weight: bold;
}
.sentence
{
  margin: 20px 0px 0px;

  color: #8892B0;
  font-size: 17px;
}
.resu
{
  color: #64ffda;
  /* color: var(--green); */
  background-color: transparent;
  border: 1px solid #64ffda ;
  border-radius: 6px;
  padding: 1.25rem 1.75rem;
  font-size:14px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-top: 50px;
  transform: translateY(2px) translateX(2px); /* Move the element down and to the left initially */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Apply transition effect for opacity and transform */

}
.resu:hover {
  top: -5px; /* Move up */
  left: -5px; /* Move right */
  box-shadow: 3px 3px  #64ffda;
  transform: translateY(0) translateX(0); /* Move the element back to its original position */
 
}
.animated-element {
  opacity: 0;
  transform: translateY(  100%);
  transition: all 0.5s ease-out;
}
.animated-element.visible {
  opacity: 1;
  transform: translateY(0);
}
.animated-side-element {
  opacity: 0;
  transform: translateY(  100%);
  transition: all 0.5s ease-out;
}
.animated-side-element.visible {
  opacity: 1;
  transform: translateY(0);
}



.about {
  padding: 0px 11.5vw;
  width: 100vw;
  padding-bottom: 60px;
  padding-top: 60px;
}

.numbered-heading::before {
  position: relative;
  top: 4px;
  counter-increment: section 1;
  content: "01" ".";
  margin-right: 10px;
  color: #64ffda;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 400;
}

.numbered-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  color: #ccd6f6;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
}

.numbered-heading::after {
  color: #64ffda;
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 30vw;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}
.inner
{
  width: 100%;
}
.about p {
 
  margin: 0px 0px 15px;
  font-size: 1em!important;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;;
  /* font-size: 1.2em; */
  /* line-height: 1.6; */
  color: #818ca9;
  text-align: justify;
}

.about .skills-list {
  list-style-type: none;
  /* margin-left: 0px; */
}

.about .skills-list li {
  font-size: 13px;
  color:#818ca9;
}
.about .skills-list li::before {
  content: "▹";
  position: absolute;
  padding-top: 3px;
  left: 0px;
  color: #64ffda;
  font-size: var(--fz-sm);
  line-height: 12px;
}

.about img {
  width: auto; /* Adjusts the width of the image to fit its content */
  max-width: 100%;
  height: auto;
}

.image {
  /* position: relative; */
  max-width: 300px;
  text-align: center;
 
}


.image-in {
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  transition: all 0.3s ease; /* Add transition for smooth movement */
}
.image-in:hover {
  transform: translate(-5px, -5px) ; /* Move to top left corner and scale */
}

.img-fluid {
  position: relative;
  border-radius: 4px;
  /* filter: grayscale(100%); */
  /* filter: hue-rotate(162deg) saturate(100%) brightness(100%); */
  z-index: 1;

}
.img-fluid:hover
{
  /* filter: none; */
}

.image-in::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #64ffda;
  top: 14px;
  left: 14px;
  z-index: -1;
  transition: top 0.3s ease, left 0.3s ease; /* Add transition */
}
.image-in::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #64ffda; /* Your desired color */
  opacity: 0.5; /* Adjust opacity as needed */
  transition: opacity 0.3s ease; /* Add transition */
  z-index: 2;
}
.image:hover .image-in::after {
  top :22px;
  left: 22px;
  /* transform: translate(5px, 5px)  */
  
}

.image-in:hover::before {
  opacity: 0; /* Hide the overlay on hover */
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  list-style: none;
  padding-left: 2vw;
}

.skills-list .col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
  margin-bottom: 20px; /* Adjust spacing between rows as needed */
}

.skills-list li {
  margin-bottom: 10px; /* Adjust spacing between list items as needed */
}

