body{
    background-color: rgb(10,25,47)!important;
}
.navbar {
    display: flex;
    justify-content: space-between!important;
    flex-direction: row;
    padding: 0px 50px !important; /* Increased padding */
    height: 100px;
    z-index: 10;
  }
 .navbar-brand
 {
    color: #64ffda!important;
    z-index: 12;
 }
  .navbar-nav .resume {
    width: 80px;
    border: 1px #64ffda solid;
    border-radius: 4    px;
    position: relative;

    text-align: center;
  }
  
  .navbar-nav .resume:hover {
    top: -5px; /* Move up */
    left: -5px; /* Move right */
    box-shadow: 5px 5px 10px #64ffda; /* Shadow effect */
    transition: top 0.3s ease-out, right 0.3s ease-out, box-shadow 0.3s ease-out; /* Transition effect */
  }
  
  
  .navbar-nav .number {
    color: #64ffda; /* Green color for numbers */
    margin-right: 5px; /* Add some space between number and text */
  }
 
  .navbar.navbar-light.bg-transparent {
    background-color: rgba(10, 25, 47, 0.5) !important;
    backdrop-filter: blur(10px) !important;
  }
  
  .navbar ,
  .navbar .navbar-nav .nav-link {
    color: rgb(184,194,226) !important;
  }
  
 .navbar-nav{
    font-size: .9rem!important;
    padding: 10px;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
 }
 .navbar-nav .number {
    padding: 0px; /* Add margin between number and text */
}
 .nav-item
 {
    padding: 10px;
 }
 

.custom-toggler
{
  background-color: #64ffda!important;
  z-index: 12;;
  position: relative;
  color: #ffffff!important;
 
    border: none; /* Remove the border */
    outline: none!important; /* Remove outline on click */
  
}
@media (min-width: 769px) {
  .navbar-nav {
    margin-left: auto; /* Apply ml-auto at larger screen sizes */
  }
}

@media (max-width: 768px) {
  .navbar-collapse.custom-collapse {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw; /* Adjust the width as needed */
    max-width: 400px; /* Maximum width on larger screens */
    height: 100vh; /* Cover the entire viewport */
    background-color: #ffffff; 
    z-index: 11; /* Ensure it's above other content */
    transition: transform 0.1s ease-out; /* Smooth sliding animation */
    transform: translateX(100%); /* Initially off-screen to the right */
    align-items: center;
  }

  .navbar-collapse.custom-collapse.show {
    transform: translateX(0); /* Slide in from the right */
  }

  
  .navbar-nav .number {
    margin-bottom: 0px; /* Add margin between number and text */
}

.navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left: 1px!important;
}


.navbar-nav .nav-link span {
    margin-bottom: 1px; /* Add margin between text and number */
}

}
